[D-BUS Service]
Name=org.gtk.GDBus.Examples.ObjectManager
Exec=/home/thongle/project/buildroot/linux/kernel/buildroot/output/build/libglib2-2.56.3/gio/tests/gdbus-example-objectmanager-server
